<div class="background">
  <div class="container">

    <h1>Crear Servicio</h1>

    <div class="formulario">

      <!-- PAQUETE -->
      <div class="input-group">
        <label>Paquete</label>
        <select [(ngModel)]="servicio.paqueteId" name="paquete">
          <option [ngValue]="null" disabled selected>Seleccione paquete</option>
          <option *ngFor="let p of paquetes" [ngValue]="p.id">
            {{ p.nombre }}
          </option>
        </select>
      </div>

      <!-- PROVEEDOR -->
      <div class="input-group">
        <label>Proveedor</label>
        <select [(ngModel)]="servicio.proveedorId" name="proveedor">
          <option [ngValue]="null" disabled selected>Seleccione proveedor</option>
          <option *ngFor="let pr of proveedores" [ngValue]="pr.id">
            {{ pr.nombre }}
          </option>
        </select>
      </div>

      <!-- NOMBRE -->
      <div class="input-group">
        <label>Nombre</label>
        <input 
          type="text"
          [(ngModel)]="servicio.nombre"
          name="nombre"
          placeholder="Ej: Hotel, Transporte, Tour">
      </div>

      <!-- COSTO -->
      <div class="input-group">
        <label>Costo</label>
        <input 
          type="number"
          [(ngModel)]="servicio.costo"
          name="costo"
          placeholder="Ej: 1500">
      </div>

      <button (click)="crearServicio()">
        Guardar Servicio
      </button>

      <button class="btn-regresar" (click)="regresar()">
        Regresar
      </button>

    </div>
  </div>
</div>