/* RESET */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* FONDO */
.background {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;

  background: linear-gradient(135deg, #141e30, #243b55);
}


/* CONTENEDOR */
.container {
  width: 420px;
  padding: 30px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.95);

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

/* FORM */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* GRUPO */
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

/* INPUTS Y SELECTS */
.formulario input,
.formulario select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

/* FOCUS */
.formulario input:focus,
.formulario select:focus {
  border-color: #2a5298;
  box-shadow: 0 0 5px rgba(42,82,152,0.5);
}

/* BOTÓN GUARDAR */
.formulario button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;

  background-color: #2a5298;
  color: white;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background-color: #1e3c72;
}

/* BOTÓN REGRESAR */
.btn-regresar {
  margin-top: 15px;
  width: 100%;
  padding: 12px;

  background: #ef4444;
  color: white;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-regresar:hover {
  background: #dc2626;
}