<div class="background">

  <div class="container">
    <div class="content">

      <ng-container [ngSwitch]="accion">

        <!-- ===== MENÚ ===== -->
        <div class="top-bar" *ngSwitchCase="'menu'">
          <button (click)="irPaquetes('crear')">+ Crear</button>
          <button (click)="irPaquetes('editar')">✏️ Editar</button>
          <button (click)="irPaquetes('desactivar')">Desactivar</button>
        </div>

        <!-- ===== CREAR ===== -->
        <div *ngSwitchCase="'crear'" class="formulario">
          <h2>Crear Paquete</h2>

          <input [(ngModel)]="paquete.nombre" placeholder="Nombre" />

          <input type="number" [(ngModel)]="paquete.destinoId" placeholder="ID del destino" />

          <input type="number" [(ngModel)]="paquete.duracion" placeholder="Duración (días)" />

          <input [(ngModel)]="paquete.descripcion" placeholder="Descripción" />

          <input type="number" [(ngModel)]="paquete.precio" placeholder="Precio" />

          <input type="number" [(ngModel)]="paquete.capacidad" placeholder="Capacidad" />

          <button class="btn-save" (click)="crearPaquete()">
            Guardar
          </button>
           <!-- MENSAJE -->
      <p class="mensaje" *ngIf="mensaje">
        {{ mensaje }}
      </p>
        </div>

        <!-- ===== EDITAR ===== -->
        <div *ngSwitchCase="'editar'" class="formulario">
          <h2>Editar Paquete</h2>

          <input type="number" [(ngModel)]="paquete.id" placeholder="ID del paquete" />

          <input [(ngModel)]="paquete.nombre" placeholder="Nombre" />

          <input type="number" [(ngModel)]="paquete.destinoId" placeholder="ID del destino" />

          <input type="number" [(ngModel)]="paquete.duracion" placeholder="Duración (días)" />

          <input [(ngModel)]="paquete.descripcion" placeholder="Descripción" />

          <input type="number" [(ngModel)]="paquete.precio" placeholder="Precio" />

          <input type="number" [(ngModel)]="paquete.capacidad" placeholder="Capacidad" />

          <button class="btn-save" (click)="editarPaquete()">
            Actualizar
          </button>
           <!-- MENSAJE -->
      <p class="mensaje" *ngIf="mensaje">
        {{ mensaje }}
      </p>
        </div>

        <!-- ===== DESACTIVAR ===== -->
        <div *ngSwitchCase="'desactivar'" class="formulario">
          <h2>Desactivar paquete</h2>

          <input type="number" [(ngModel)]="paquete.id" placeholder="ID del paquete" />

          <button class="btn-delete" (click)="desactivarPaquete()">
            Desactivar
          </button>

           <!-- MENSAJE -->
          <p class="mensaje" *ngIf="mensaje">
            {{ mensaje }}
          </p>
        </div>

        <!-- ===== ACTIVAR ===== -->
        <div *ngSwitchCase="'activar'" class="formulario">
          <h2>Activar paquete</h2>

          <input type="number" [(ngModel)]="paquete.id" placeholder="ID del paquete" />

          <button class="btn-save" (click)="activarPaquete()">
            Activar
          </button>

          <p class="mensaje" *ngIf="mensaje">
            {{ mensaje }}
          </p>
        </div>

      </ng-container>

    </div>

    <!-- BOTÓN GLOBAL -->
    <button class="btn-regresar" (click)="regresar()">
      Regresar
    </button>

  </div>

</div>