<div class="background">

  <div class="container">
    <div class="content">

      <ng-container [ngSwitch]="accion">

        <div class="top-bar" *ngSwitchDefault>
          <button (click)="irDestinos('crear')">Crear</button>
          <button (click)="irDestinos('editar')">Editar</button>
          <button (click)="irDestinos('eliminar')">Eliminar</button>
        </div>

        <!-- CREAR -->
        <div *ngSwitchCase="'crear'" class="form-container">
          <h2>Crear Destino</h2>

          <div class="input-group">
            <input [(ngModel)]="nombre" placeholder="Nombre">
            <input [(ngModel)]="pais" placeholder="País">
            <input [(ngModel)]="clima" placeholder="Clima">
          </div>

          <textarea [(ngModel)]="descripcion" placeholder="Descripción"></textarea>

          <input [(ngModel)]="imagen_url" placeholder="URL imagen">

          <div class="preview-container" *ngIf="imagen_url">
            <img [src]="imagen_url" class="preview">
          </div>

          <button class="confirmar" (click)="guardarDestino()">Guardar</button>
        </div>

        <!-- EDITAR -->
        <div *ngSwitchCase="'editar'" class="form-container">
          <h2>Editar Destino</h2>

          <input [(ngModel)]="id" placeholder="ID">

          <div class="input-group">
            <input [(ngModel)]="nombre" placeholder="Nombre">
            <input [(ngModel)]="pais" placeholder="País">
            <input [(ngModel)]="clima" placeholder="Clima">
          </div>

          <textarea [(ngModel)]="descripcion" placeholder="Descripción"></textarea>

          <input [(ngModel)]="imagen_url" placeholder="Imagen">

          <button class="confirmar" (click)="editarDestino()">Actualizar</button>
        </div>

        <!-- ELIMINAR -->
        <div *ngSwitchCase="'eliminar'" class="form-container">
          <h2>Eliminar Destino</h2>

          <input [(ngModel)]="id" placeholder="ID">

          <button class="confirmar" (click)="eliminarDestino()">Eliminar</button>
        </div>

      </ng-container>

      <!-- MENSAJE GLOBAL -->
      <p class="mensaje" *ngIf="mensaje">
        {{ mensaje }}
      </p>

    </div>

    <button class="btn-regresar" (click)="regresar()">
      Regresar
    </button>

  </div>

</div>